<div class="container">
  <div class="row">
    <% if current_user %>
      Hi, <%= current_user.email %>
        <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
        <%= link_to('修改密碼', edit_user_registration_path) %> |
        <%= link_to('Profile', user_path(current_user)) %>
      <% else %>
        <%= link_to('註冊', new_user_registration_path) %> |
        <%= link_to('登入', new_user_session_path) %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/restaurants/feeds">最新動態</a></li>
    <li role="presentation" class="active"><a href="/users">美食達人</a></li>
    <li role="presentation"><a href="/restaurants/favorites">人氣餐廳</a></li>
  </ul>
  <br>
    <h1>使用者列表</h1>  
  <%= link_to '回到餐廳列表', restaurants_path %>
  <div>
    <table class="table table-striped">
          <tbody>
          <% @users.each do |user| %>
            <div class="col-sm-6 col-md-4">
              <div class="user-item">                
                <p><%= user.name %></p>
                <%= image_tag user.image, class: "img-responsive center-block" %>
                <%= render partial: "shared/follow", locals: {user: user} %>
                <br>                
              </div>
            </div>
          <% end %>
          </tbody>
    </table>

    <hr class="style13">
    <div class="p-3 mb-2 bg-info text-white"><%= flash[:notice] %></div>
    <div class="p-3 mb-2 bg-danger text-white"><%= flash[:alert] %></div>
</div>

