<div class="container">
  <div class="row">
    <% if current_user %>
      Hi, <%= current_user.email %>
      <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
      <%= link_to('修改密碼', edit_user_registration_path) %> |
      <%= link_to('Profile', user_path(current_user)) %>
      <div class="inline-block"><%= alert %></div>
    <% else %>
      <%= link_to('註冊', new_user_registration_path) %> |
      <%= link_to('登入', new_user_session_path) %>
    <% end %>
  </div>
</div>
<br>



<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/restaurants/feeds">最新動態</a></li>
    <li role="presentation"><a href="/users">美食達人</a></li>
    <li role="presentation" class="active"><a href="/users">人氣餐廳</a></li>
  </ul>
  <br>
  <div class="col-md-10 col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">人氣餐廳</h3>
      </div>
      <div class="panel-body">
        <% @greatest_restaurants.each do |restaurant| %>
            <div class="col-md-10 col-lg-10">
              <h2><%= restaurant.name %></h2>
              <p>[<%= restaurant.category.name %>]</p>
              <ul class="list-unstyled">
                <li><strong>Opening Hour:</strong> <%= restaurant.opening_hours %></li>
                <li><strong>Tel:</strong> <%= restaurant.tel %></li>
                <li><strong>Address:</strong> <%= restaurant.address %></li>
              </ul>
              <hr>
            </div>
        <% end %>
      </div>
    </div>
  </div>








