<div class="container">
  <div class="row">
    <% if current_user %>
      Hi, <%= current_user.email %>
        <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
        <%= link_to('修改密碼', edit_user_registration_path) %> |
        <%= link_to('Profile', user_path(current_user)) %>
        <div class="inline-block"><%= alert %></div>
      <% else %>
        <%= link_to('註冊', new_user_registration_path) %> |
        <%= link_to('登入', new_user_session_path) %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/restaurants/feeds">最新動態</a></li>
  </ul>
  <br>
  <div class="row">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation">
        <%= link_to "全部餐廳", root_path %>
      </li>
      <!-- 這邊判斷category==@category的時候要加 li.active -->
      <% @categories.each do |category| %>
        <li role="presentation" class="<%= "active" if category == @category %>">
          <%= link_to category.name, category_path(category) %>
        </li>
      <% end %>
    </ul>

    <br>

    <%= render partial: "shared/restaurant_list" %>

  </div>
</div>